@import '../../style.scss';

.form{
    width: 304px;
    height: 136px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    .input, .button{
        border-radius: 10px;
        border: none;
        font-size:16px;
        height: 60px;
        width: 300px;
        font-size: 25px; 
        border: none;
    }

    .input{
        margin-bottom: 20px;
        text-align: center;
    }
    .button{
        width: 304px;
        background-image: $gradient-blue;
        color:white;
        &:hover{
            cursor: pointer;
        }
    }
    .button-dark{
        background-image:$gradient-lightPurple;
    }
}