@import '../../style.scss';

.board{
    width: 80%;
    height:60%;
    max-width: 1300px;
    min-width: 800px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top right, rgba(0, 255, 155, 0.4), rgba(0, 62, 255, 0.4));
    display: flex;
    justify-content:center;
    // align-items:center;
    position: relative;
}

.board-dark {
    background-image: linear-gradient(to top right, rgba(0, 5, 122, 0.5), rgba(114, 28, 135, 0.5));
}