a {
    text-decoration: none;
    color:none;
}
.directory {
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    
    .remover-container{
        position: relative;
    }
}